* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1, header h3, header p {
    color: white;
}
.app {
    height: 101vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(0, 0, 40);
    width: 100%;
    /* height: 25vh; */
}
.appName {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.allAlgorithms, .allPatterns, .allBoardFunctions {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.allAlgorithms, .allPatterns {
    margin: 5px;
    justify-content: space-between;
}
.allBoardFunctions {
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: space-around;
}
.algorithm, .pattern, .boardFunction{
    border-radius: 5px;
    padding: 10px;
}
.algorithm:hover, .pattern:hover, .boardFunction:hover {
    border: 1px solid white;
    padding: 9px;
    cursor: pointer;
}
.algorithm:active, .pattern:active, .boardFunction:active {
    border: 1px solid white;
    padding: 7px;
    margin: 2px;
    cursor: pointer;
}
.boardFunction {
    border-radius: 5px;
    background: rgb(0, 153, 255);
}
.legend {
    width: 100%;
    /* height: 6vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.legend p{
    padding: 0 0 0 5px;
}
.algorithmInfo {
    width: 100%;
    /* height: 6vh; */
    position: relative;
    padding: 10px;
}
#infoText {
    text-align: center;
}
.board {
    border: 1px solid grey;
    width: 100%;
    height: 60vh;
}
.legendEntry {
    display: flex;
    flex-direction: row;
}
.legendWall, .legendWeight, .legendStart, .legendTarget, .legendPath, .legendVisited, .legendUnvisited {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}
.wall, .legendWall {
    background: rgba(0, 0, 40);
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.weight, .legendWeight {
    background-image: url(./images/weight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: weightAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.weightVisited {
    background-image: url(./images/weight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(0, 153, 255);
    animation-name: weightVisitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.weightPath {
    background-image: url(./images/weight.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(255, 254, 106);
    animation-name: weightPathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.start, .legendStart {
    background-image: url(./images/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: startAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.startVisited {
    background-image: url(./images/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(0, 153, 255);
    animation-name: startVisitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.startPath {
    background-image: url(./images/start.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(255, 254, 106);
    animation-name: startPathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.target, .legendTarget {
    background-image: url(./images/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: targetAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

}
.targetVisited {
    background-image: url(./images/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(0, 153, 255);
    animation-name: targetVisitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.targetPath {
    background-image: url(./images/target.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background: rgb(255, 254, 106);
    animation-name: targetPathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.path, .legendPath {
    background: rgb(255, 254, 106);
    animation-name: pathAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.visited, .legendVisited {
    background: rgb(0, 153, 255);
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.unvisited, .legendUnvisited {
    background-color: white;
    border-bottom: 1px solid rgb(0, 153, 255);
    border-right: 1px solid rgb(0, 153, 255);
}
@keyframes wallAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes weightAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes targetAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    99% {
        transform: scale(1);
        border: none;
    }
    100% {
        transform: scale(1);
        border-bottom: 1px solid rgb(0, 153, 255);
        border-right: 1px solid rgb(0, 153, 255);
    }
}
@keyframes startAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    99% {
        transform: scale(1);
        border: none;
    }
    100% {
        transform: scale(1);
        border-bottom: 1px solid rgb(0, 153, 255);
        border-right: 1px solid rgb(0, 153, 255);
    }
}
@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }
  
    50% {
        background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(0, 153, 255);
    }
}
@keyframes weightVisitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
    }
  
    50% {
        background-color: rgba(17, 104, 217, 0.75);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(0, 153, 255);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@keyframes startVisitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    50% {
        background-color: rgba(17, 104, 217, 0.75);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(0, 153, 255);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@keyframes targetVisitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    50% {
        background-color: rgba(17, 104, 217, 0.75);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(0, 153, 255);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@keyframes pathAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
    }
  
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
    }
}
@keyframes weightPathAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/weight.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@keyframes startPathAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/start.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@keyframes targetPathAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(255, 254, 106);
        background-image: url(./images/target.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.boardFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer {
    /* height: 50px; */
    width: 100%;
    background: rgba(0, 0, 40);
}
.footerContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.metric {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
.metric p {
    color: white;
}
#nodesVisited {
    color: rgb(0, 153, 255);
    padding-left: 4px;
}
#pathwayCost {
    color: rgb(255, 254, 106);
    padding-left: 4px;
}